<ul class="breadcrumb">
  <li class="active">
    <%=link_to(tra("All Phrases"), :action => :index)%>
    <% if @translation_key %>
      <span class="divider">/</span>
    <% end %>
  </li>
  <% if @translation_key %>
    <li class="active"><%=link_to(@translation_key.sanitized_label, :action => :view, :id => @translation_key.id)%>
    </li>
  <% end %>
</ul>