<div style="padding:5px;">
  <div>
    <div style='display:inline-block'><%= link_to(notification.object.application.name, "/tr8n/app/phrases/index?app_id=#{notification.object.application.id}", :target => '_top') %></div>
  </div>
</div>

