<%
    links = []
    links << [tra("All Emails"), {:action => :email_templates}]
    if @et
      links << [@et.name, {:action => :email_template, :id => @et.id}]
    end
%>

<ul class="breadcrumb">
  <% links.each_with_index do |link, index| %>
    <li class="<%='active' if index == links.size-1 %>">
      <%=link_to(link.first, link.last)%>
      <% if index < links.size-1 %>
        <span class="divider">/</span>
      <% end %>
    </li>
  <% end %>
</ul>