<div style="float:right; font-size:12px;">
  <%= [
        link_to(tra("key & secret"), :action => :index),
        link_to(tra("basic information"), :action => :basics),
        link_to(tra("languages"), :action => :languages),
        link_to(tra("features"), :action => :features),
        link_to(tra("decorations"), :action => :decorations),
        link_to(tra("shortcuts"), :action => :shortcuts),
        link_to(tra("email templates"), :action => :email_templates),
      ].join(" | ").html_safe
  %>
</div>