<div class="section tr8n_text_align_left" style="font-size: 11px; color: grey; margin-top:5px; margin-bottom:5px; padding:5px; background:#f9f8f7;">
  <% if translation.key.locked? %>
    <div class="tr8n_float_right"><%=image_tag("tr8n/lock.png", :style=>"width:12px", :title => trla("This phrase is locked"))%></div>
  <% end %>

  <%=tra("Original Phrase:")%>
  <span dir='ltr'>
    <%=link_to(translation.key.sanitized_label, :controller => "/tr8n/app/phrases", :action => :view, :locale => translation.language.locale, :translation_key_id => translation.key.id) %>
  </span>

  <% unless translation.key.description.blank? %>
    <div class="tr8n_text_align_left" style="padding-top:10px;"><%= translation.key.description %></div>
  <% end %>
</div>
