<div class="section_title tr8n_txtl">
  <div class="tr8n_fltr" style="padding-top:0px;font-size:11px;font-weight:normal">
    <%=
      [
        ["basic information", "index"],
        ["context rules", "context_rules"],
        ["language cases", "language_cases"],
        ["prohibited word", "prohibited_words"],
      ].map {|label| link_to(tra(label.first, description), :action => label.last)}. join(' | '). html_safe
    %>
  </div>
  
  <%=tra(label, description) %>
</div>
