<div style="float:right; font-size:12px;">
  <%= [
        link_to(tra("application components"), :action => :index),
        link_to(tra("sources"), :action => :sources),
      ].join(" | ").html_safe
  %>
</div>