<ul class="breadcrumb">
  <li><%=link_to(tra("All Translators"), :action => :index)%>  </li>
  <span class="divider">/</span>
  <li class="active"><%=link_to(@translator.name, :action => :view, :id => @translator.id)%>  </li>
</ul>