<ul class="breadcrumb">
  <li><%=link_to(selected_application.name, :app_id => selected_application.id)%>
    <span class="divider">/</span>
  </li>
  <li class="active"><%=link_to(tra("All Translators"), :action => :index)%>
  </li>
</ul>