<div style="padding-top:40px; color: #ccc; text-align:center; width:100%">
  Powered by <%=link_to("Tr8n", "http://wiki.tr8nhub.com", :style=>"color:#ccc;") %>
  <div style="padding-top:5px;">
    <%=link_to(image_tag("tr8n/tr8n_logo.png", :style=>"width:50px;"), "http://wiki.tr8nhub.com") %>
  </div>
</div>
