<div style="float:right; font-size:12px;">
  <%= [
          link_to_unless(controller.action_name == 'index', tra("basics"), :action => :index),
          link_to_unless(controller.action_name == 'countries', tra("countries"), :action => :countries),
          link_to_unless(controller.action_name == 'features', tra("features"), :action => :features),
      ].join(" | ").html_safe
  %>
</div>